name: Blue-Green Deploy (Cloud Demo)

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GHCR_USERNAME: ${{ secrets.GHCR_USERNAME }}
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run deployment script on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu/cloud-demo
            chmod +x blue-green-deploy.sh
            GHCR_USERNAME=${{ secrets.GHCR_USERNAME }} GHCR_TOKEN=${{ secrets.GHCR_TOKEN }} ./blue-green-deploy.sh